<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Location Details</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <!-- Fav Icon -->
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />

    <!-- Custom styles for this template -->
    <link href="/static/css/location.css" rel="stylesheet">
</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Location form</h2>
            <p class="lead">Kindly fill out this form indicating where your problem occurred. That's it!</p>
        </div>

        <div class="row">

        </div>
        <div class="col-lg-12">
            <h4 class="mb-3">Location</h4>
            <form class="needs-validation" novalidate action="{{url_for('result')}}" method="POST" enctype="application/x-www-form-urlencoded">

                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" id="address" name="addr" placeholder="Address of any nearest building" autocomplete="off" required>
                    <div class="invalid-feedback">
                        Please enter an address.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Landmark <span class="text-muted">(Optional)</span></label>
                    <input type="text" class="form-control" id="landmark" name="lmark" placeholder="e.g. Near ITO" autocomplete="off">
                </div>

                <div class="row">

                    <div class="col-md-4 mb-3">
                        <label for="state">State/Union Territory</label>
                        <select class="custom-select d-block w-100" id="state" name="state" required>
                            <option value="">Choose...</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadar and Nagar Haveli">Dadar and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Lakshadweep">Ladakh</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Delhi">NCT of Delhi</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                        </select>

                        <div class="invalid-feedback">
                            Please provide a valid state/union territory.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="pincode">Pincode</label>
                        <input type="number" class="form-control" id="pincode" name="pin" min="100000" max="999999" required>
                        <div class="invalid-feedback">
                            Pin code required.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <footer class="my-5 pt-3">
        <p class="text-muted text-center mt-4">
            © Anmol Bansal Ankit Kumar
            <script>
                document.write(new Date().getFullYear());
            </script>
        </p>
    </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename = 'form-validation.js') }}"></script>
</body>

</html>